Build started...
Build succeeded.
IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
CREATE TABLE [AppUser] (
    [Id] uniqueidentifier NOT NULL,
    [FullName] nvarchar(max) NULL,
    [Email] nvarchar(max) NULL,
    [Password] nvarchar(max) NULL,
    [PhoneNumber] nvarchar(max) NULL,
    [ProfilePicture] nvarchar(max) NULL,
    [DateOfBirth] nvarchar(max) NULL,
    [VerificationCode] nvarchar(max) NULL,
    [NoOfSmsSent] nvarchar(max) NULL,
    [NationilityId] uniqueidentifier NULL,
    [AppUserStatusId] uniqueidentifier NULL,
    [CountryId] uniqueidentifier NULL,
    [CityId] uniqueidentifier NULL,
    [AppUserTypeId] int NOT NULL,
    [GenderId] int NOT NULL,
    [DeviceId] nvarchar(max) NULL,
    [IsEmailVerified] int NOT NULL,
    [IsMobileNoVerified] int NOT NULL,
    [PushNotificationToken] nvarchar(max) NULL,
    [IdentityNumber] nvarchar(max) NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_AppUser] PRIMARY KEY ([Id])
);

CREATE TABLE [Countries] (
    [Id] uniqueidentifier NOT NULL,
    [DescAr] nvarchar(max) NULL,
    [DescOt] nvarchar(max) NULL,
    [FlagImage] nvarchar(max) NULL,
    [MobileCode] nvarchar(max) NULL,
    [SortOrder] int NOT NULL,
    [Active] int NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_Countries] PRIMARY KEY ([Id])
);

CREATE TABLE [Users] (
    [Id] uniqueidentifier NOT NULL,
    [UserName] nvarchar(max) NULL,
    [Password] nvarchar(max) NULL,
    [FullName] nvarchar(max) NULL,
    [Active] int NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_Users] PRIMARY KEY ([Id])
);

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20250510103319_InitialCreate', N'9.0.4');

CREATE TABLE [CountryGovernorates] (
    [Id] uniqueidentifier NOT NULL,
    [DescAr] nvarchar(max) NULL,
    [DescOt] nvarchar(max) NULL,
    [SortOrder] int NOT NULL,
    [Active] int NOT NULL,
    [CountryId] uniqueidentifier NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_CountryGovernorates] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_CountryGovernorates_Countries_CountryId] FOREIGN KEY ([CountryId]) REFERENCES [Countries] ([Id])
);

CREATE INDEX [IX_CountryGovernorates_CountryId] ON [CountryGovernorates] ([CountryId]);

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20250510105639_InitialCountryGovernorate', N'9.0.4');

DROP TABLE [CountryGovernorates];

CREATE TABLE [AppUserStatus] (
    [Id] uniqueidentifier NOT NULL,
    [NameAr] nvarchar(max) NULL,
    [NameOt] nvarchar(max) NULL,
    [LoginAllowed] int NOT NULL,
    [EditProfileAllowed] int NOT NULL,
    [RateAllowed] int NOT NULL,
    [AddPlacesAllowed] int NOT NULL,
    [Active] int NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_AppUserStatus] PRIMARY KEY ([Id])
);

CREATE TABLE [Governorates] (
    [Id] uniqueidentifier NOT NULL,
    [DescAr] nvarchar(max) NULL,
    [DescOt] nvarchar(max) NULL,
    [SortOrder] int NOT NULL,
    [Active] int NOT NULL,
    [CountryId] uniqueidentifier NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_Governorates] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Governorates_Countries_CountryId] FOREIGN KEY ([CountryId]) REFERENCES [Countries] ([Id])
);

CREATE TABLE [MainServices] (
    [Id] uniqueidentifier NOT NULL,
    [DescAr] nvarchar(max) NULL,
    [DescOt] nvarchar(max) NULL,
    [Icon] nvarchar(max) NULL,
    [ActiveForUserAdd] int NOT NULL,
    [ActiveForAppDisplay] int NOT NULL,
    [SortOrder] int NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_MainServices] PRIMARY KEY ([Id])
);

CREATE TABLE [MainSliders] (
    [Id] uniqueidentifier NOT NULL,
    [FromDate] datetime2 NOT NULL,
    [ToDate] datetime2 NOT NULL,
    [ImageFile] nvarchar(max) NULL,
    [SortOrder] int NOT NULL,
    [CallActionTextAr] nvarchar(max) NULL,
    [CallActionTextOt] nvarchar(max) NULL,
    [DistenationType] nvarchar(max) NULL,
    [DistenationLink] nvarchar(max) NULL,
    [PaidAmount] decimal(18,2) NULL,
    [SalesUserId] uniqueidentifier NULL,
    [Notes] nvarchar(max) NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_MainSliders] PRIMARY KEY ([Id])
);

CREATE TABLE [SubServices] (
    [Id] uniqueidentifier NOT NULL,
    [DescAr] nvarchar(max) NULL,
    [DescOt] nvarchar(max) NULL,
    [Tags] nvarchar(max) NULL,
    [SubServiceIcon] nvarchar(max) NULL,
    [DefaultBannerImage] nvarchar(max) NULL,
    [ActiveForAppDisplay] int NOT NULL,
    [ActiveForUserAdd] int NOT NULL,
    [SortOrder] int NOT NULL,
    [Notes] nvarchar(max) NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_SubServices] PRIMARY KEY ([Id])
);

CREATE TABLE [Tutorials] (
    [Id] uniqueidentifier NOT NULL,
    [DescAr] nvarchar(max) NULL,
    [DescOt] nvarchar(max) NULL,
    [TitleAr] nvarchar(max) NULL,
    [TitleOt] nvarchar(max) NULL,
    [Icon] nvarchar(max) NULL,
    [Active] int NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_Tutorials] PRIMARY KEY ([Id])
);

CREATE TABLE [City] (
    [Id] uniqueidentifier NOT NULL,
    [DescAr] nvarchar(max) NULL,
    [DescOt] nvarchar(max) NULL,
    [Active] int NOT NULL,
    [GovernorateId] uniqueidentifier NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_City] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_City_Governorates_GovernorateId] FOREIGN KEY ([GovernorateId]) REFERENCES [Governorates] ([Id])
);

CREATE TABLE [AppUserAddress] (
    [Id] uniqueidentifier NOT NULL,
    [AddressLabel] nvarchar(max) NULL,
    [CountryId] uniqueidentifier NULL,
    [GovernorateId] uniqueidentifier NULL,
    [CityId] uniqueidentifier NULL,
    [Street] nvarchar(max) NULL,
    [BuildingName] nvarchar(max) NULL,
    [Floor] nvarchar(max) NULL,
    [AptNumber] nvarchar(max) NULL,
    [MapLocation] nvarchar(max) NULL,
    [AppUserId] uniqueidentifier NOT NULL,
    [AppUserName] nvarchar(max) NULL,
    [Active] int NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_AppUserAddress] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_AppUserAddress_AppUser_AppUserId] FOREIGN KEY ([AppUserId]) REFERENCES [AppUser] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_AppUserAddress_City_CityId] FOREIGN KEY ([CityId]) REFERENCES [City] ([Id]),
    CONSTRAINT [FK_AppUserAddress_Countries_CountryId] FOREIGN KEY ([CountryId]) REFERENCES [Countries] ([Id]),
    CONSTRAINT [FK_AppUserAddress_Governorates_GovernorateId] FOREIGN KEY ([GovernorateId]) REFERENCES [Governorates] ([Id])
);

CREATE INDEX [IX_AppUserAddress_AppUserId] ON [AppUserAddress] ([AppUserId]);

CREATE INDEX [IX_AppUserAddress_CityId] ON [AppUserAddress] ([CityId]);

CREATE INDEX [IX_AppUserAddress_CountryId] ON [AppUserAddress] ([CountryId]);

CREATE INDEX [IX_AppUserAddress_GovernorateId] ON [AppUserAddress] ([GovernorateId]);

CREATE INDEX [IX_City_GovernorateId] ON [City] ([GovernorateId]);

CREATE INDEX [IX_Governorates_CountryId] ON [Governorates] ([CountryId]);

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20250510124208_Initialtables', N'9.0.4');

ALTER TABLE [MainSliders] ADD [Discriminator] nvarchar(21) NOT NULL DEFAULT N'';

ALTER TABLE [MainSliders] ADD [SubServiceId] uniqueidentifier NULL;

CREATE TABLE [Privilege] (
    [Id] uniqueidentifier NOT NULL,
    [PrivilegeName] nvarchar(max) NULL,
    [ParentId] uniqueidentifier NULL,
    [Icon] nvarchar(max) NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_Privilege] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Privilege_Privilege_ParentId] FOREIGN KEY ([ParentId]) REFERENCES [Privilege] ([Id])
);

CREATE TABLE [Roles] (
    [Id] uniqueidentifier NOT NULL,
    [NameAr] nvarchar(max) NULL,
    [NameOt] nvarchar(max) NULL,
    [Active] int NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_Roles] PRIMARY KEY ([Id])
);

CREATE TABLE [Settings] (
    [Id] uniqueidentifier NOT NULL,
    [SettingName] nvarchar(max) NULL,
    [DisplayName] nvarchar(max) NULL,
    [SettingValue] nvarchar(max) NULL,
    [SettingValueOt] nvarchar(max) NULL,
    [IsMedia] int NOT NULL,
    [EnableEditor] int NOT NULL,
    [SendToMobileApp] int NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_Settings] PRIMARY KEY ([Id])
);

CREATE TABLE [UserRoles] (
    [Id] uniqueidentifier NOT NULL,
    [UserId] uniqueidentifier NOT NULL,
    [RoleId] uniqueidentifier NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_UserRoles] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY ([RoleId]) REFERENCES [Roles] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE CASCADE
);

CREATE INDEX [IX_MainSliders_SubServiceId] ON [MainSliders] ([SubServiceId]);

CREATE INDEX [IX_Privilege_ParentId] ON [Privilege] ([ParentId]);

CREATE INDEX [IX_UserRoles_RoleId] ON [UserRoles] ([RoleId]);

CREATE INDEX [IX_UserRoles_UserId] ON [UserRoles] ([UserId]);

ALTER TABLE [MainSliders] ADD CONSTRAINT [FK_MainSliders_SubServices_SubServiceId] FOREIGN KEY ([SubServiceId]) REFERENCES [SubServices] ([Id]) ON DELETE CASCADE;


CREATE TABLE [MainSubServiceMappings] (
    [Id] uniqueidentifier NOT NULL,
    [MainServiceId] uniqueidentifier NULL,
    [SubServiceId] uniqueidentifier NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_MainSubServiceMappings] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_MainSubServiceMappings_MainServices_MainServiceId] FOREIGN KEY ([MainServiceId]) REFERENCES [MainServices] ([Id]),
    CONSTRAINT [FK_MainSubServiceMappings_SubServices_SubServiceId] FOREIGN KEY ([SubServiceId]) REFERENCES [SubServices] ([Id])
);

CREATE TABLE [ServiceRequests] (
    [Id] uniqueidentifier NOT NULL,
    [AppUserId] uniqueidentifier NULL,
    [SubServiceId] uniqueidentifier NULL,
    [RequestDate] date NOT NULL,
    [RequestTime] time NOT NULL,
    [RequestBriefly] nvarchar(max) NULL,
    [AttachmentFile] nvarchar(max) NULL,
    [AttachmentFileType] nvarchar(max) NULL,
    [AddressId] uniqueidentifier NULL,
    [IsPaid] nvarchar(max) NULL,
    [ServiceAmount] decimal(18,2) NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_ServiceRequests] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ServiceRequests_AppUserAddress_AddressId] FOREIGN KEY ([AddressId]) REFERENCES [AppUserAddress] ([Id]),
    CONSTRAINT [FK_ServiceRequests_AppUser_AppUserId] FOREIGN KEY ([AppUserId]) REFERENCES [AppUser] ([Id]),
    CONSTRAINT [FK_ServiceRequests_SubServices_SubServiceId] FOREIGN KEY ([SubServiceId]) REFERENCES [SubServices] ([Id])
);

CREATE TABLE [TechnicianServices] (
    [Id] uniqueidentifier NOT NULL,
    [AppUserId] uniqueidentifier NULL,
    [SubServiceId] uniqueidentifier NULL,
    [Active] int NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_TechnicianServices] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_TechnicianServices_AppUser_AppUserId] FOREIGN KEY ([AppUserId]) REFERENCES [AppUser] ([Id]),
    CONSTRAINT [FK_TechnicianServices_SubServices_SubServiceId] FOREIGN KEY ([SubServiceId]) REFERENCES [SubServices] ([Id])
);

CREATE TABLE [Versions] (
    [Id] uniqueidentifier NOT NULL,
    [VersionName] nvarchar(max) NULL,
    [VersionNameIOS] nvarchar(max) NULL,
    [VersionLink] nvarchar(max) NULL,
    [VersionLinkIOS] nvarchar(max) NULL,
    [IsRequired] int NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_Versions] PRIMARY KEY ([Id])
);

CREATE TABLE [ServiceRequestResponses] (
    [Id] uniqueidentifier NOT NULL,
    [ServiceRequestId] uniqueidentifier NULL,
    [ResponseDate] date NOT NULL,
    [ResponseTime] time NOT NULL,
    [AppUserId] uniqueidentifier NULL,
    [ResponseId] int NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_ServiceRequestResponses] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ServiceRequestResponses_AppUser_AppUserId] FOREIGN KEY ([AppUserId]) REFERENCES [AppUser] ([Id]),
    CONSTRAINT [FK_ServiceRequestResponses_ServiceRequests_ServiceRequestId] FOREIGN KEY ([ServiceRequestId]) REFERENCES [ServiceRequests] ([Id])
);

CREATE INDEX [IX_MainSubServiceMappings_MainServiceId] ON [MainSubServiceMappings] ([MainServiceId]);

CREATE INDEX [IX_MainSubServiceMappings_SubServiceId] ON [MainSubServiceMappings] ([SubServiceId]);

CREATE INDEX [IX_ServiceRequestResponses_AppUserId] ON [ServiceRequestResponses] ([AppUserId]);

CREATE INDEX [IX_ServiceRequestResponses_ServiceRequestId] ON [ServiceRequestResponses] ([ServiceRequestId]);

CREATE INDEX [IX_ServiceRequests_AddressId] ON [ServiceRequests] ([AddressId]);

CREATE INDEX [IX_ServiceRequests_AppUserId] ON [ServiceRequests] ([AppUserId]);

CREATE INDEX [IX_ServiceRequests_SubServiceId] ON [ServiceRequests] ([SubServiceId]);

CREATE INDEX [IX_TechnicianServices_AppUserId] ON [TechnicianServices] ([AppUserId]);

CREATE INDEX [IX_TechnicianServices_SubServiceId] ON [TechnicianServices] ([SubServiceId]);


CREATE TABLE [RolePrivilege] (
    [Id] uniqueidentifier NOT NULL,
    [PrivilegeId] uniqueidentifier NOT NULL,
    [RoleId] uniqueidentifier NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_RolePrivilege] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_RolePrivilege_Privilege_PrivilegeId] FOREIGN KEY ([PrivilegeId]) REFERENCES [Privilege] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_RolePrivilege_Roles_RoleId] FOREIGN KEY ([RoleId]) REFERENCES [Roles] ([Id]) ON DELETE CASCADE
);

CREATE INDEX [IX_RolePrivilege_PrivilegeId] ON [RolePrivilege] ([PrivilegeId]);

CREATE INDEX [IX_RolePrivilege_RoleId] ON [RolePrivilege] ([RoleId]);


CREATE TABLE [Inquiry] (
    [Id] uniqueidentifier NOT NULL,
    [FullName] nvarchar(max) NULL,
    [Email] nvarchar(max) NULL,
    [Password] nvarchar(max) NULL,
    [PhoneNumber] nvarchar(max) NULL,
    [ProfilePicture] nvarchar(max) NULL,
    [DateOfBirth] nvarchar(max) NULL,
    [VerificationCode] nvarchar(max) NULL,
    [NoOfSmsSent] nvarchar(max) NULL,
    [NationilityId] uniqueidentifier NULL,
    [AppUserStatusId] uniqueidentifier NULL,
    [CountryId] uniqueidentifier NULL,
    [CityId] uniqueidentifier NULL,
    [AppUserTypeId] int NOT NULL,
    [GenderId] int NOT NULL,
    [DeviceId] nvarchar(max) NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_Inquiry] PRIMARY KEY ([Id])
);


DECLARE @var sysname;
SELECT @var = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Inquiry]') AND [c].[name] = N'NationilityId');
IF @var IS NOT NULL EXEC(N'ALTER TABLE [Inquiry] DROP CONSTRAINT [' + @var + '];');
ALTER TABLE [Inquiry] DROP COLUMN [NationilityId];

EXEC sp_rename N'[AppUser].[NationilityId]', N'GovernorateId', 'COLUMN';

CREATE INDEX [IX_AppUser_AppUserStatusId] ON [AppUser] ([AppUserStatusId]);

CREATE INDEX [IX_AppUser_CityId] ON [AppUser] ([CityId]);

CREATE INDEX [IX_AppUser_CountryId] ON [AppUser] ([CountryId]);

CREATE INDEX [IX_AppUser_GovernorateId] ON [AppUser] ([GovernorateId]);

ALTER TABLE [AppUser] ADD CONSTRAINT [FK_AppUser_AppUserStatus_AppUserStatusId] FOREIGN KEY ([AppUserStatusId]) REFERENCES [AppUserStatus] ([Id]);

ALTER TABLE [AppUser] ADD CONSTRAINT [FK_AppUser_City_CityId] FOREIGN KEY ([CityId]) REFERENCES [City] ([Id]);

ALTER TABLE [AppUser] ADD CONSTRAINT [FK_AppUser_Countries_CountryId] FOREIGN KEY ([CountryId]) REFERENCES [Countries] ([Id]);

ALTER TABLE [AppUser] ADD CONSTRAINT [FK_AppUser_Governorates_GovernorateId] FOREIGN KEY ([GovernorateId]) REFERENCES [Governorates] ([Id]);


CREATE TABLE [Faq] (
    [Id] uniqueidentifier NOT NULL,
    [QuestionAr] nvarchar(max) NULL,
    [QuestionOt] nvarchar(max) NULL,
    [AnswerAr] nvarchar(max) NULL,
    [AnswerOt] nvarchar(max) NULL,
    [Active] int NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_Faq] PRIMARY KEY ([Id])
);


ALTER TABLE [Inquiry] ADD [GovernorateId] uniqueidentifier NULL;

CREATE INDEX [IX_Inquiry_AppUserStatusId] ON [Inquiry] ([AppUserStatusId]);

CREATE INDEX [IX_Inquiry_CityId] ON [Inquiry] ([CityId]);

CREATE INDEX [IX_Inquiry_CountryId] ON [Inquiry] ([CountryId]);

CREATE INDEX [IX_Inquiry_GovernorateId] ON [Inquiry] ([GovernorateId]);

ALTER TABLE [Inquiry] ADD CONSTRAINT [FK_Inquiry_AppUserStatus_AppUserStatusId] FOREIGN KEY ([AppUserStatusId]) REFERENCES [AppUserStatus] ([Id]);

ALTER TABLE [Inquiry] ADD CONSTRAINT [FK_Inquiry_City_CityId] FOREIGN KEY ([CityId]) REFERENCES [City] ([Id]);

ALTER TABLE [Inquiry] ADD CONSTRAINT [FK_Inquiry_Countries_CountryId] FOREIGN KEY ([CountryId]) REFERENCES [Countries] ([Id]);

ALTER TABLE [Inquiry] ADD CONSTRAINT [FK_Inquiry_Governorates_GovernorateId] FOREIGN KEY ([GovernorateId]) REFERENCES [Governorates] ([Id]);


ALTER TABLE [ServiceRequests] ADD [MainServiceId] uniqueidentifier NULL;

CREATE TABLE [RequestStatus] (
    [Id] uniqueidentifier NOT NULL,
    [NameAr] nvarchar(max) NULL,
    [NameOt] nvarchar(max) NULL,
    [DeleteAllowed] int NOT NULL,
    [Active] int NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_RequestStatus] PRIMARY KEY ([Id])
);

CREATE INDEX [IX_ServiceRequests_MainServiceId] ON [ServiceRequests] ([MainServiceId]);

ALTER TABLE [ServiceRequests] ADD CONSTRAINT [FK_ServiceRequests_MainServices_MainServiceId] FOREIGN KEY ([MainServiceId]) REFERENCES [MainServices] ([Id]);


ALTER TABLE [RequestStatus] ADD [Color] nvarchar(max) NULL;


ALTER TABLE [ServiceRequests] DROP CONSTRAINT [FK_ServiceRequests_AppUser_AppUserId];

EXEC sp_rename N'[ServiceRequests].[AppUserId]', N'ProviderId', 'COLUMN';

EXEC sp_rename N'[ServiceRequests].[IX_ServiceRequests_AppUserId]', N'IX_ServiceRequests_ProviderId', 'INDEX';

DECLARE @var1 sysname;
SELECT @var1 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ServiceRequests]') AND [c].[name] = N'IsPaid');
IF @var1 IS NOT NULL EXEC(N'ALTER TABLE [ServiceRequests] DROP CONSTRAINT [' + @var1 + '];');
ALTER TABLE [ServiceRequests] ALTER COLUMN [IsPaid] int NULL;

ALTER TABLE [ServiceRequests] ADD [ClientId] uniqueidentifier NULL;

CREATE INDEX [IX_ServiceRequests_ClientId] ON [ServiceRequests] ([ClientId]);

ALTER TABLE [ServiceRequests] ADD CONSTRAINT [FK_ServiceRequests_AppUser_ClientId] FOREIGN KEY ([ClientId]) REFERENCES [AppUser] ([Id]);

ALTER TABLE [ServiceRequests] ADD CONSTRAINT [FK_ServiceRequests_AppUser_ProviderId] FOREIGN KEY ([ProviderId]) REFERENCES [AppUser] ([Id]);


ALTER TABLE [ServiceRequests] ADD [PartsAreAvailable] int NULL;


ALTER TABLE [ServiceRequests] ADD [RequestStatusId] uniqueidentifier NULL;

CREATE INDEX [IX_ServiceRequests_RequestStatusId] ON [ServiceRequests] ([RequestStatusId]);

ALTER TABLE [ServiceRequests] ADD CONSTRAINT [FK_ServiceRequests_RequestStatus_RequestStatusId] FOREIGN KEY ([RequestStatusId]) REFERENCES [RequestStatus] ([Id]);


ALTER TABLE [ServiceRequestResponses] DROP CONSTRAINT [FK_ServiceRequestResponses_AppUser_AppUserId];

DECLARE @var2 sysname;
SELECT @var2 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ServiceRequestResponses]') AND [c].[name] = N'ResponseId');
IF @var2 IS NOT NULL EXEC(N'ALTER TABLE [ServiceRequestResponses] DROP CONSTRAINT [' + @var2 + '];');
ALTER TABLE [ServiceRequestResponses] DROP COLUMN [ResponseId];

EXEC sp_rename N'[ServiceRequestResponses].[AppUserId]', N'RequestStatusId', 'COLUMN';

EXEC sp_rename N'[ServiceRequestResponses].[IX_ServiceRequestResponses_AppUserId]', N'IX_ServiceRequestResponses_RequestStatusId', 'INDEX';

ALTER TABLE [ServiceRequestResponses] ADD [ClientId] uniqueidentifier NULL;

ALTER TABLE [ServiceRequestResponses] ADD [ProviderId] uniqueidentifier NULL;

CREATE INDEX [IX_ServiceRequestResponses_ClientId] ON [ServiceRequestResponses] ([ClientId]);

CREATE INDEX [IX_ServiceRequestResponses_ProviderId] ON [ServiceRequestResponses] ([ProviderId]);

ALTER TABLE [ServiceRequestResponses] ADD CONSTRAINT [FK_ServiceRequestResponses_AppUser_ClientId] FOREIGN KEY ([ClientId]) REFERENCES [AppUser] ([Id]);

ALTER TABLE [ServiceRequestResponses] ADD CONSTRAINT [FK_ServiceRequestResponses_AppUser_ProviderId] FOREIGN KEY ([ProviderId]) REFERENCES [AppUser] ([Id]);

ALTER TABLE [ServiceRequestResponses] ADD CONSTRAINT [FK_ServiceRequestResponses_RequestStatus_RequestStatusId] FOREIGN KEY ([RequestStatusId]) REFERENCES [RequestStatus] ([Id]);


ALTER TABLE [TechnicianServices] DROP CONSTRAINT [FK_TechnicianServices_AppUser_AppUserId];

ALTER TABLE [TechnicianServices] DROP CONSTRAINT [FK_TechnicianServices_SubServices_SubServiceId];

DECLARE @var3 sysname;
SELECT @var3 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[TechnicianServices]') AND [c].[name] = N'Active');
IF @var3 IS NOT NULL EXEC(N'ALTER TABLE [TechnicianServices] DROP CONSTRAINT [' + @var3 + '];');
ALTER TABLE [TechnicianServices] DROP COLUMN [Active];

EXEC sp_rename N'[TechnicianServices].[SubServiceId]', N'ProviderId', 'COLUMN';

EXEC sp_rename N'[TechnicianServices].[AppUserId]', N'MainServiceId', 'COLUMN';

EXEC sp_rename N'[TechnicianServices].[IX_TechnicianServices_SubServiceId]', N'IX_TechnicianServices_ProviderId', 'INDEX';

EXEC sp_rename N'[TechnicianServices].[IX_TechnicianServices_AppUserId]', N'IX_TechnicianServices_MainServiceId', 'INDEX';

ALTER TABLE [TechnicianServices] ADD CONSTRAINT [FK_TechnicianServices_AppUser_ProviderId] FOREIGN KEY ([ProviderId]) REFERENCES [AppUser] ([Id]);

ALTER TABLE [TechnicianServices] ADD CONSTRAINT [FK_TechnicianServices_MainServices_MainServiceId] FOREIGN KEY ([MainServiceId]) REFERENCES [MainServices] ([Id]);







DECLARE @var4 sysname;
SELECT @var4 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[AppUserAddress]') AND [c].[name] = N'AppUserName');
IF @var4 IS NOT NULL EXEC(N'ALTER TABLE [AppUserAddress] DROP CONSTRAINT [' + @var4 + '];');
ALTER TABLE [AppUserAddress] DROP COLUMN [AppUserName];


DECLARE @var5 sysname;
SELECT @var5 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[MainSliders]') AND [c].[name] = N'FromDate');
IF @var5 IS NOT NULL EXEC(N'ALTER TABLE [MainSliders] DROP CONSTRAINT [' + @var5 + '];');
ALTER TABLE [MainSliders] DROP COLUMN [FromDate];

DECLARE @var6 sysname;
SELECT @var6 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[MainSliders]') AND [c].[name] = N'Notes');
IF @var6 IS NOT NULL EXEC(N'ALTER TABLE [MainSliders] DROP CONSTRAINT [' + @var6 + '];');
ALTER TABLE [MainSliders] DROP COLUMN [Notes];

DECLARE @var7 sysname;
SELECT @var7 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[MainSliders]') AND [c].[name] = N'PaidAmount');
IF @var7 IS NOT NULL EXEC(N'ALTER TABLE [MainSliders] DROP CONSTRAINT [' + @var7 + '];');
ALTER TABLE [MainSliders] DROP COLUMN [PaidAmount];

DECLARE @var8 sysname;
SELECT @var8 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[MainSliders]') AND [c].[name] = N'SalesUserId');
IF @var8 IS NOT NULL EXEC(N'ALTER TABLE [MainSliders] DROP CONSTRAINT [' + @var8 + '];');
ALTER TABLE [MainSliders] DROP COLUMN [SalesUserId];

DECLARE @var9 sysname;
SELECT @var9 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[MainSliders]') AND [c].[name] = N'ToDate');
IF @var9 IS NOT NULL EXEC(N'ALTER TABLE [MainSliders] DROP CONSTRAINT [' + @var9 + '];');
ALTER TABLE [MainSliders] DROP COLUMN [ToDate];

ALTER TABLE [MainSliders] ADD [Active] int NOT NULL DEFAULT 0;


CREATE TABLE [Reports] (
    [Id] uniqueidentifier NOT NULL,
    [ReportName] nvarchar(max) NULL,
    [ReportProcedure] nvarchar(max) NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_Reports] PRIMARY KEY ([Id])
);

CREATE TABLE [ReportParameter] (
    [Id] uniqueidentifier NOT NULL,
    [ReportId] uniqueidentifier NULL,
    [ParameterName] nvarchar(max) NULL,
    [ParameterTitle] nvarchar(max) NULL,
    [ParameterType] nvarchar(max) NULL,
    [ParameterQuery] nvarchar(max) NULL,
    [ParameterOrder] int NOT NULL,
    [CreatedBy] uniqueidentifier NOT NULL,
    [CreatedDate] datetime2 NOT NULL,
    [ModifiedBy] uniqueidentifier NULL,
    [ModifiedDate] datetime2 NULL,
    CONSTRAINT [PK_ReportParameter] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ReportParameter_Reports_ReportId] FOREIGN KEY ([ReportId]) REFERENCES [Reports] ([Id])
);

CREATE INDEX [IX_ReportParameter_ReportId] ON [ReportParameter] ([ReportId]);


ALTER TABLE [ServiceRequests] ADD [RequestCode] nvarchar(max) NULL;


ALTER TABLE [AppUser] ADD [GpsLocation] nvarchar(max) NULL;


DECLARE @var10 sysname;
SELECT @var10 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[RequestStatus]') AND [c].[name] = N'DeleteAllowed');
IF @var10 IS NOT NULL EXEC(N'ALTER TABLE [RequestStatus] DROP CONSTRAINT [' + @var10 + '];');
ALTER TABLE [RequestStatus] DROP COLUMN [DeleteAllowed];

ALTER TABLE [RequestStatus] ADD [ClientAllowedStatus] nvarchar(max) NULL;

ALTER TABLE [RequestStatus] ADD [ProviderAllowedStatus] nvarchar(max) NULL;


ALTER TABLE [ServiceRequests] DROP CONSTRAINT [FK_ServiceRequests_RequestStatus_RequestStatusId];

DROP INDEX [IX_ServiceRequests_RequestStatusId] ON [ServiceRequests];


ALTER TABLE [ServiceRequestResponses] DROP CONSTRAINT [FK_ServiceRequestResponses_RequestStatus_RequestStatusId];

DROP INDEX [IX_ServiceRequestResponses_RequestStatusId] ON [ServiceRequestResponses];

DECLARE @var11 sysname;
SELECT @var11 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ServiceRequests]') AND [c].[name] = N'RequestStatusId');
IF @var11 IS NOT NULL EXEC(N'ALTER TABLE [ServiceRequests] DROP CONSTRAINT [' + @var11 + '];');
ALTER TABLE [ServiceRequests] DROP COLUMN [RequestStatusId];

DECLARE @var12 sysname;
SELECT @var12 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ServiceRequestResponses]') AND [c].[name] = N'RequestStatusId');
IF @var12 IS NOT NULL EXEC(N'ALTER TABLE [ServiceRequestResponses] DROP CONSTRAINT [' + @var12 + '];');
ALTER TABLE [ServiceRequestResponses] DROP COLUMN [RequestStatusId];

DECLARE @var13 sysname;
SELECT @var13 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[RequestStatus]') AND [c].[name] = N'ModifiedBy');
IF @var13 IS NOT NULL EXEC(N'ALTER TABLE [RequestStatus] DROP CONSTRAINT [' + @var13 + '];');
ALTER TABLE [RequestStatus] ALTER COLUMN [ModifiedBy] int NULL;

DECLARE @var14 sysname;
SELECT @var14 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[RequestStatus]') AND [c].[name] = N'CreatedBy');
IF @var14 IS NOT NULL EXEC(N'ALTER TABLE [RequestStatus] DROP CONSTRAINT [' + @var14 + '];');
ALTER TABLE [RequestStatus] ALTER COLUMN [CreatedBy] int NOT NULL;

ALTER TABLE [RequestStatus] DROP CONSTRAINT [PK_RequestStatus];

DECLARE @var15 sysname;
SELECT @var15 = [d].[name]
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[RequestStatus]') AND [c].[name] = N'Id');
IF @var15 IS NOT NULL EXEC(N'ALTER TABLE [RequestStatus] DROP CONSTRAINT [' + @var15 + '];');
ALTER TABLE [RequestStatus] DROP COLUMN [Id];

ALTER TABLE [RequestStatus] ADD [Id] int NOT NULL IDENTITY;

ALTER TABLE [RequestStatus] ADD CONSTRAINT [PK_RequestStatus] PRIMARY KEY ([Id]);


COMMIT;
GO


